@media only screen and (max-width: 1200px) {
    .current-department
 {
    width: 150px;
    height: 150px;
       
}

@media only screen and (max-width: 1000px) {
    .profile>.profile_container>img {
        position: absolute;
        top: 180px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-left: 50px;
    }
    
}

@media only screen and (max-width: 1050px) {
    .department_page{
        padding:  0;
        display: flex;
        flex-direction: column;
    }

    .department_sort{
        border: none;
        margin-left: 0;
    } 

    .deartment_tickets {
    
        border: none;
        }

   
    
}


}
@media only screen and (max-width: 900px) {
        .current-department
    {
        width: 120px;
        height: 120px;
        
    }
    .profile>.profile_container>img {
        position: absolute;
        top: 180px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: 50px;
    }

    .comments{
        display: flex;
        flex-direction: column;
    }

    .info {
        order: 1;
        border: none;
    } 
    .only_comments , .new_comment{
        order: 2; 
        border: none;
        }

    .only_comments{
        height: fit-content;
    }

    }
    

@media only screen and (max-width: 800px) {
    .next_mobile{
        display: block;
    }
    .buttons_mobile{
        display: flex;
        justify-content: space-between;
    }
    .next{
        display: none;
    }
    #departments ul{
        list-style:none;
        display:flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 0;
        gap:1em;
     }
     .current-department
     {
        display: inline;
        width: auto;
        height: auto;
        padding-top: 1em;
        padding-bottom: 1em;
        color: red;
           
    }
    .department{
        border-radius: 15px;

    }
    
}
       



@media only screen and (max-width: 700px) {

        .adminPanelContainer{
            border:none;
        }
    
        .frequently_asked_questions{
            border:none;
        }

    .profile>.profile_container>img {
        position: absolute;
        top: 180px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 50px;
    }
    .ticket{
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: 8em;
    }
    .ticket h3{
        align-self: center;
    }
    .ticket .author, .ticket .date, .ticket .department, .ticket .description{
        display: none;
    }

    .ticketinformation{
        font-size: 15px;
        width: 100%;
    }
    .update{
        padding-left: 0;
        font-size: 13px;
        display: inline;

    }
    #page{
        display:none;
    }
    #page_mobile{
        display: block;
    }
    .status-open{

    font-family: 'Mulish', sans-serif;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 0%;
        color: #4D904C;

    }
    
    .status-closed{
        font-family: 'Mulish', sans-serif;
        background-color: white;
        width: auto;
        height: auto;
        border-radius: 0%;
        color: rgb(172, 4, 4);
   
    }
    
    .status-in{
        color:  rgb(159, 159, 8);
        font-family: 'Mulish', sans-serif;
        background-color: white;
        width: auto;
        height: auto;
        border-radius: 0%;
    }
    
    .status-resolved{
        color:  rgb(113, 5, 113);
        font-family: 'Mulish', sans-serif;
        background-color: white;
        width: auto;
        height: auto;
        border-radius: 0%;
    }

    .navbar span, .navbar i, .navbar #sign_out{
        display: none;
    }
    
    #profile-picture{
        display: block;
        position: absolute;
        top: 1;
        right: 1em;
    }
    .navbar {
        height: auto;
        margin: 0;
        padding: 0;
    }
    header{
        display: inline-flex;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 2em;
    }
    h1{
        font-size: 20px;
    }
    header h1{
      margin: 0;
      padding: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
     .hamburger {
        display: block;
        color:  #003E29;
        font-size: 100;
        margin: 0;
        padding: 0;
    }
  
     .hamburger:before {
      content:'\2630';
      font-size: 25px;
    }

  
   #sideSection{
        width: 85%;
        height: 100%;
        background-color: #003E29;
        display: none;
        top:0;
        left: 0;
        position: absolute;
        z-index: 9999;
    } 

    #sideSection a{
        color: white;
        font-size: 20px;
        padding-left: 3em;
        padding-top: 2em;
    }
    #home a{
        padding-top: 4em;

    }
    span + span{
        margin-left: 0;
    }

    body.stop-scrolling {
        overflow: hidden;
      }
    #hamburger:checked ~ #sideSection{
        display: flex;
        flex-direction: column;
    }
  
    #hamburger:checked ~ span{
        top:0;
        left:0;    
    }
    
    .edit_profile_container {
        border: none;
    }

    h1 .fa{
        display: none;
    }

    .comments{
        margin-left: -1.5em;

    }
}


@media only screen and (max-width: 600px) {

    .wrapper{
        display: block;
    }
    .profile-menu{
        margin-top: 170px;
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-auto-flow: dense;
        padding: 0;
        margin-bottom: 2em
    }

    .profile-menu li{
        font-size: 15px;
    }

    #profile-menu-tickets{
        grid-column: 1/2;
    }
    
    #profile-menu-progress{
        grid-column: 2/3;
    }
    
    #profile-menu-resolved{
        grid-column: 3/4;
    }
    
    #profile-menu-assigned{
      grid-column: 4/5;
    }
    
    .profile_tickets{
        width: 100%;
        margin: 0;
        padding:0;
        margin:0;
    }
 
    .profile{
        position: absolute;
        top:90px;
        display: grid;
        grid-template-columns: 20% 50% 30%;
        grid-template-rows: 40% 40% 20%;
        row-gap: 1em;
        width: 100%;
        height: 80px;
        padding-bottom: 2em;
    }
    .profile>.profile_container{
        padding-top: 2em;
        padding-left: 2em;
    }
    .profile>.profile_container>img {
        position: relative;
        grid-column: 1/2;
        grid-row: 1/3;
        margin:0;
        height: 60px;
        width: 60px;
        border: 50%;
        top:initial;
    }


    .profile .username{
        grid-column: 2/4;
        grid-row: 1/2;
        text-align: left;
    }
    .profile .bio{
        grid-column: 2/4;
        grid-row: 2/3;
        padding-right: 2em;
        overflow: hidden;
        padding-top: 1em;
        font-size: 13px;
    }
    .profile .edit-profile{
        position: relative;
        top:20px;
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 10px;
        width: 70px;
        height: auto;
        margin:0;
        padding: 1em;
        margin-left: 3em;
    }
    .profile .edit-profile::after {
        content: none;
      }

      .ticket{
        height: 8em;
      }
}

 @media only screen and (max-width: 400px) {
    input{
        width: 200px;
    }
    .ticketinformation{
        font-size: 12px;
    }

}


@media only screen and (max-width: 390px) {
    .profile-menu li{
        font-size: 10px;
    }
}
